<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knight.login.mapper.LoginUserMapper">

    <select id="queryUserByUsername" resultType="com.knight.login.domain.LoginUserInfoImpl">
        select t1.user_id                                        as userId,
               t1.username,
               t1.password,
               t1.status                                         as userStatus,
               to_char(t1.effect_Time, 'yyyy-mm-dd hh24:mi:ss')  as effectTime,
               to_char(t1.expired_time, 'yyyy-mm-dd hh24:mi:ss') as expiredTime,
               t1.user_level                                     as userLevel,
               t1.modify_pwd_flag                                as modifyPwdFlag,
               t1.salt,
               t1.phone,
               t1.email,
               t1.tenant_id                                      as tenantId,
               t1.privcay_statement_sign_time                    as privcayTime,
               t1.privcay_statement_sign_version                 as privcayVersion,
               min(t3.role_level)                                as roleLevel
        from t_sys_user t1
                 left join t_sys_user_role t2 on t1.user_id = t2.user_id
                 left join t_sys_role t3 on t2.role_id = t3.role_id
        where username = #{username}
        group by t1.user_id
    </select>

    <select id="queryUserByPhone" resultType="com.knight.login.domain.LoginUserInfoImpl">
        select t1.user_id                                        as userId,
               t1.username,
               t1.status                                         as userStatus,
               to_char(t1.effect_Time, 'yyyy-mm-dd hh24:mi:ss')  as effectTime,
               to_char(t1.expired_time, 'yyyy-mm-dd hh24:mi:ss') as expiredTime,
               t1.user_level                                     as userLevel,
               t1.modify_pwd_flag                                as modifyPwdFlag,
               t1.phone,
               t1.email,
               t1.tenant_id                                      as tenantId,
               t1.privcay_statement_sign_time                    as privcayTime,
               t1.privcay_statement_sign_version                 as privcayVersion,
               min(t3.role_level)            					 as roleLevel
        from t_sys_user t1
                 left join t_sys_user_role t2 on t1.user_id = t2.user_id
                 left join t_sys_role t3 on t2.role_id = t3.role_id
        where phone = #{phone}
        group by t1.user_id
            limit 1
    </select>
</mapper>